# Import modules

In [1]:
import pandas as pd
import qgrid
import easygui
import glob

# Helper functions

In [2]:
def count_digits(input):
    return int(math.log10(input))+1

# Import data

In [20]:
# import data

default_dir = "/Users/tanwaarpornthip/src/teaching/cpr/2020-2"
print("Select a file inside a folder that contains the raw grade file.")
target_dir = easygui.diropenbox("Select a folder that containts the raw check-in files", 
  "Select a folder that containts the raw check-in files",default=default_dir)
file_data = []
for file in glob.glob(target_dir+"/Log*.txt"):
    df = pd.read_csv(file,skiprows=1,sep='\t')
    file_data.append(df)

Select a file inside a folder that contains the raw grade file.

In [8]:
file_data

[      No  Mchn       EnNo        Unnamed: 3       Name  Unnamed: 5  \
 0      1     3          7  7                 805306368        2305
 1      2     3          7  7                 805306368        2305
 2      3     3  111111111  tanwa             805306368        2305
 3      4     3   30112009  thanida           805306368        2305
 4      5     3   30112013  sarayut           805306368        2305
 ..   ...   ...        ...               ...        ...         ...
 840  841     3  230213019  yanika            805306368        2305
 841  842     3   30311065  kunlapat          805306368        2305
 842  843     3   30311057  charutda          805306368        2305
 843  844     3   30311040  sudarat           805306368        2305
 844  845     3   30311035  thawatchai        805306368        2305

                      Mode  IOMd  DateTime  Unnamed: 9
 0    2000/01/01  00:25:19   NaN       NaN         NaN
 1    2000/01/01  00:27:52   NaN       NaN         NaN
 2    2000/01/01  00:27:58   NaN       NaN         NaN
 3    2021/03/13  08:47:35   NaN       NaN         NaN
 4    2021/03/13  08:47:39   NaN       NaN         NaN
 ..                    ...   ...       ...         ...
 840  2021/03/21  16:34:22   NaN       NaN         NaN
 841  2021/03/21  16:34:30   NaN       NaN         NaN
 842  2021/03/21  16:47:01   NaN       NaN         NaN
 843  2021/03/21  16:47:03   NaN       NaN         NaN
 844  2021/03/21  16:47:05   NaN       NaN         NaN

 [845 rows x 10 columns],
       No  Mchn       EnNo        Unnamed: 3       Name  Unnamed: 5  \
 0      1     2          7  7                 805306368        2305
 1      2     2  111111111  tanwa             805306368        2305
 2      3     2   30112009  thanida           805306368        2305
 3      4     2   30112013  sarayut           805306368        2305
 4      5     2   30112071  narumon           805306368        2305
 ..   ...   ...        ...               ...        ...         ...
 840  841     2   30612012  phoramet          805306368        2305
 841  842     2   30612007  arut              805306368        2305
 842  843     2   30311033  natnicha          805306368        2305
 843  844     2   30311016  witchayaporn      805306368        2305
 844  845     2   30311038  patchara          805306368        2305

                      Mode  IOMd  DateTime  Unnamed: 9
 0    2000/01/01  00:28:55   NaN       NaN         NaN
 1    2000/01/01  00:28:59   NaN       NaN         NaN
 2    2021/03/13  08:48:09   NaN       NaN         NaN
 3    2021/03/13  08:48:12   NaN       NaN         NaN
 4    2021/03/13  08:48:21   NaN       NaN         NaN
 ..                    ...   ...       ...         ...
 840  2021/03/21  16:42:30   NaN       NaN         NaN
 841  2021/03/21  16:42:33   NaN       NaN         NaN
 842  2021/03/21  16:57:37   NaN       NaN         NaN
 843  2021/03/21  16:57:41   NaN       NaN         NaN
 844  2021/03/21  16:57:45   NaN       NaN         NaN

 [845 rows x 10 columns],
         No  Mchn       EnNo        Unnamed: 3       Name  Unnamed: 5  \
 0        1     1   30221003                    805306368        2305
 1        2     1   30112042  panida            805306368        2305
 2        3     1   30112002  maywadee          805306368        2305
 3        4     1   30112048  khanittha         805306368        2305
 4        5     1  230311020  titapa            805306368        2305
 ...    ...   ...        ...               ...        ...         ...
 1503  1504     1   30311011  chadaporn         805306368        2305
 1504  1505     1   30311039  wilailak          805306368        2305
 1505  1506     1  230213011  saranya           805306368        2305
 1506  1507     1   30113001  sirikanya         805306368        2305
 1507  1508     1  230112079  ryeongna          805306368        2305

                       Mode  IOMd  DateTime  Unnamed: 9
 0     2021/03/05  16:34:21   NaN       NaN         NaN
 1     2021/03/10  13:22:47   NaN       NaN         NaN
 2     2021/03/10  13:24:22   NaN       NaN         NaN
 3     2021/03/10  13:25:48   NaN       NaN         NaN
 4     2021/03/10  13:29:55   NaN       NaN         NaN
 ...                    ...   ...       ...         ...
 1503  2021/03/24  14:56:51   NaN       NaN         NaN
 1504  2021/03/24  15:01:06   NaN       NaN         NaN
 1505  2021/03/24  15:02:07   NaN       NaN         NaN
 1506  2021/03/24  15:08:49   NaN       NaN         NaN
 1507  2021/03/24  15:26:04   NaN       NaN         NaN

 [1508 rows x 10 columns],
       No  Mchn       EnNo        Unnamed: 3       Name  Unnamed: 5  \
 0      1     5          7  7                 805306368        2305
 1      2     5  111111111  tanwa             805306368        2305
 2      3     5   30112009  thanida           805306368        2305
 3      4     5   30112013  sarayut           805306368        2305
 4      5     5   30112071  narumon           805306368        2305
 ..   ...   ...        ...               ...        ...         ...
 356  357     5  230311036  wanichaya         805306368        2305
 357  358     5          6  6                 805306368        2305
 358  359     5  230213022  warumporn         805306368        2305
 359  360     5   30213018  panwadee          805306368        2305
 360  361     5  230213028  puntaree          805306368        2305

                      Mode  IOMd  DateTime  Unnamed: 9
 0    2000/01/01  00:27:38   NaN       NaN         NaN
 1    2000/01/01  00:27:45   NaN       NaN         NaN
 2    2021/03/13  08:47:41   NaN       NaN         NaN
 3    2021/03/13  08:47:46   NaN       NaN         NaN
 4    2021/03/13  08:47:54   NaN       NaN         NaN
 ..                    ...   ...       ...         ...
 356  2021/03/21  16:49:19   NaN       NaN         NaN
 357  2021/03/21  16:49:20   NaN       NaN         NaN
 358  2021/03/21  17:05:27   NaN       NaN         NaN
 359  2021/03/21  17:05:30   NaN       NaN         NaN
 360  2021/03/21  17:05:33   NaN       NaN         NaN

 [361 rows x 10 columns],
       No  Mchn       EnNo        Unnamed: 3       Name  Unnamed: 5  \
 0      1     4          7  7                 805306368        2305
 1      2     4  111111111  tanwa             805306368        2305
 2      3     4   30112009  thanida           805306368        2305
 3      4     4   30112013  sarayut           805306368        2305
 4      5     4   30112071  narumon           805306368        2305
 ..   ...   ...        ...               ...        ...         ...
 818  819     4   30311003  salwanee          805306368        2305
 819  820     4   30311020  suppanida         805306368        2305
 820  821     4   30112038  nattanicha        805306368        2305
 821  822     4  230311082  atiwit            805306368        2305
 822  823     4   30112020  rattanawalee      805306368        2305

                      Mode  IOMd  DateTime  Unnamed: 9
 0    2000/01/01  00:27:45   NaN       NaN         NaN
 1    2000/01/01  00:27:52   NaN       NaN         NaN
 2    2021/03/13  08:47:38   NaN       NaN         NaN
 3    2021/03/13  08:47:42   NaN       NaN         NaN
 4    2021/03/13  08:47:50   NaN       NaN         NaN
 ..                    ...   ...       ...         ...
 818  2021/03/21  16:46:14   NaN       NaN         NaN
 819  2021/03/21  16:46:18   NaN       NaN         NaN
 820  2021/03/21  16:50:46   NaN       NaN         NaN
 821  2021/03/21  16:51:26   NaN       NaN         NaN
 822  2021/03/21  16:54:14   NaN       NaN         NaN

 [823 rows x 10 columns]]

In [23]:
data = pd.concat(file_data)
data = data.drop(["No","Mchn","Name", "Unnamed: 5", "IOMd","DateTime","Unnamed: 9"],axis=1)
data = data.rename(columns={"Unnamed: 3": "Name", "EnNo":"ID"})

In [27]:
data[data['ID']<100]

     ID              Name                  Mode
0     7  7                 2000/01/01  00:25:19
1     7  7                 2000/01/01  00:27:52
12    2  2                 2021/03/13  08:49:41
64    3  3                 2021/03/13  08:58:15
244   2  2                 2021/03/13  14:49:29
..   ..               ...                   ...
654   5  5                 2021/03/20  14:26:36
753   8  a                 2021/03/20  15:03:48
778   8  a                 2021/03/20  15:40:34
811   5  5                 2021/03/21  16:21:23
813   5  5                 2021/03/21  16:31:56

[116 rows x 3 columns]